@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Gilroy", "Roboto", "Questrial", sans-serif;
}

body{
  background: #000000;
}

::selection{
  color: rgb(8, 141, 3); 
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #88888800;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}